@import './oceanprotocol/variables';
@import './oceanprotocol/placeholders';
@import './oceanprotocol/global.scss';

$theme-name: 'oceanprotocol';

// base colors
$primary-color: $brand-black;
$primary-color-dark: $brand-grey-dark;
$primary-color-darker: $brand-black;
$secondary-color: $brand-pink;
$secondary-color-dark: $brand-purple;
$tertiary-color: $yellow;
$danger-color: $red;
$blue-color: $brand-blue;

$text-color: $brand-grey;
$link-color: $secondary-color;

$gradient-color-1: $secondary-color;
$gradient-color-2: $secondary-color-dark;

// main
$main-background-color: $body-background;

// header
$header-background-color: $primary-color;
$header-logo-width: 60px;
$header-logo-height: 60px;

// header menu
$header-menu-icon-color: $secondary-color;
$header-menu-text-color: $brand-white;

// daily quota
$daily-quota-background: $brand-grey;
$daily-quota-progress: $yellow;

// footer
$footer-background-color: $primary-color;
$footer-logo-width: 40px;
$footer-logo-height: 40px;
$footer-text-color: #fff;

// separator
$separator-color: #e4e4e4;

// logo
$logo-image: $base-images-path + '/themes/' + $theme-name + '/logos/logo.svg';

// home logo
$home-logo-image: $base-images-path + '/themes/' + $theme-name + '/logos/logo-home.png';
$home-logo-image-modal: $base-images-path + '/themes/' + $theme-name + '/logos/logo-home-modal.png';
$home-logo-width: 60px;
$home-logo-height: 60px;

// foreign logo
$foreign-logo-image: $base-images-path + '/themes/' + $theme-name + '/logos/logo-foreign.svg';
$foreign-logo-image-modal: $base-images-path + '/themes/' + $theme-name + '/logos/logo-foreign-modal.svg';
$foreign-logo-width: 60px;
$foreign-logo-height: 60px;

// modals
$modal-background-color: $brand-white;
$modal-overlay-background-color: rgba($brand-black, 0.8);
$modal-title-color: $brand-black;
$modal-text-color: $text-color;
$modal-link-color: $primary-color;

// mobile menu
$mobile-menu-background-color: $primary-color-darker;
$mobile-menu-overlay-color: rgba($primary-color-darker, 0.9);

// loading
$loading-item-background-color: $secondary-color;
$loading-item-text-color: $brand-white;
$loading-logo: $base-images-path + '/themes/' + $theme-name + '/logos/logo-loading.svg';

// bridge section
$bridge-link-color: $secondary-color;
$bridge-balance-color: $brand-black;
$bridge-input-label-color: $brand-grey-light;
$bridge-label-color: $text-color;
$bridge-textfield-color: $text-color;
$bridge-textfield-placeholder-color: $brand-grey-light;
$bridge-transfer-title-color: $primary-color;

// bridge alert
$alert-logo-box-background-color: $primary-color;

// copy icon
$copy-icon-color: $brand-grey-light;

// datablock
$datablock-value-color: $primary-color;
$datablock-type-color: $primary-color;
$datablock-text-color: $brand-grey-light;

// statistics
$statistics-title-color: $text-color;

// events
$events-title-color: $text-color;
$events-filter-color: $text-color;
$events-select-color: $text-color;
$events-column-title-color: $text-color;
$events-recipient-label-color: $text-color;
$events-value-color: $text-color;
$events-block-color: $text-color;