@import '../themes/oceanprotocol/variables';

// html,
// body {
//   margin: 0;
//   padding: 0;
// }

// html {
//   display: flex;
//   min-height: 100%;
// }

// body {
//   background-color: $main-background-color;
//   box-sizing: border-box;
//   font-family: $main-font-family;
//   padding-bottom: $footer-height_desktop;
//   position: relative;
//   width: 100%;

//   @media screen and (max-width: $tablet-width) {
//     padding-bottom: $footer-height_mobile;
//   }
// }

// a {
//   color: $link-color;
//   text-decoration: none;

//   &:hover {
//     text-decoration: underline;
//   }
// }

// button {
//   color: $link-color;
//   cursor: pointer;
//   margin-left: 5px;

//   &:hover {
//     text-decoration: underline;
//   }
// }

input,
button {
  border: 0;
  outline: none;
  font-family: $font-family-base;
  font-weight: $font-weight-bold;
  font-size: $font-size-base;
}

// strong {
//   font-weight: $font-weight-bold;
// }

.hidden {
  overflow: hidden;
}

.container {
  @extend %container;
}

.label {
  font-weight: $font-weight-bold;
  margin-bottom: 7px;
  margin-top: 15px;
}

.description {
  color: #8197a2;
}

.break-all {
  word-break: break-all;
}

.separator {
  background-color: $separator-color;
  height: 51px;
  width: 1px;

  @media screen and (max-width: $tablet-width) {
    display: none;
  }
}

.app-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  max-width: $container-width;
  padding: $spacer / 2;

  @media screen and (min-width: $break-point--small) {
    padding: $spacer * 2 0;
  }
}

.only-mobile {
  display: none;
  @media screen and (max-width: $tablet-width) {
    display: inherit;
  }
}
