@import '../themes/oceanprotocol/variables';

.pageHeader {
    margin: auto;
    margin-bottom: $spacer;
    width: 100%;

    @media (min-width: $break-point--small) {
        max-width: $break-point--small;
    }
}

.pageTitle {
    margin: 0;
    font-size: $font-size-h1;
}

.pageDescription {
    margin-top: $spacer / 2;
}

.bridge {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    align-items: center;
    position: relative;

    .address-label {
        color: $primary-color;
        font-size: $font-size-small;
    }

    .address-description {
        color: $primary-color;
    }
}

.bridge-statistics-container {
    align-self: center;
    margin-top: 60px;

    @media screen and (max-height: 720px) {
        margin-top: 30px;
    }
}

$bridge-background-image: $base-images-path + '/themes/' + $theme-name + '/bridge/arrow-back.svg';
$bridge-background-image-mobile: $base-images-path + '/themes/' + $theme-name + '/bridge/arrow-back-mobile.svg';

.bridge-transfer {
    width: 100%;
    border-radius: .2rem;
    border: 1px solid $brand-grey-lighter;
    background: $brand-white url($bridge-background-image-mobile) no-repeat center center;
    background-size: contain;
    padding: $spacer * 2 $spacer;
    
    @media (min-width: $break-point--small) {
        padding: $spacer * 3 $spacer $spacer * 2 $spacer;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-gap: $spacer;
        background-image: url($bridge-background-image);
        background-position: 40% center;
        background-size: unset;
    }

    .bridge-network-data {
        align-items: center;
        cursor: pointer;
        display: flex;
    }

    .form-container {
        margin-top: $spacer;
        margin-bottom: $spacer;

        @media (min-width: $break-point--small) {
            margin-right: $spacer;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .network-basic-label {
        color: $bridge-label-color;
        font-size: $font-size-small;
    }

    .network-title {
        font-size: $font-size-h2;
        margin: 0;
    }

    .network-name {
        color: $brand-grey-light;
        font-size: $font-size-large;
        margin-left: $spacer / 4;
    }

    .network-id {
        color: $bridge-label-color;
    }

    .network-id-container {
        background-color: $bridge-link-color;
        border-radius: 3px;
        height: 26px;
        margin-left: 10px;
        text-align: center;
        width: 32px;
    }

    .network-balance {
        color: $bridge-balance-color;
        font-weight: $font-weight-bold;
        white-space: nowrap;
    }

    .network-show-more {
        color: $bridge-link-color;
        font-size: $font-size-small;
    }

    .info-icon {
        margin-right: $spacer / 4;

        path {
            fill: $brand-grey-light;
        }
    }
}

.bridge-form {
    &-controls {
        @extend %flex-between;
        
        background: $brand-gradient;
        padding: 2px;
        border-radius: .2rem;

        @media screen and (max-width: $break-point--medium) {
            flex-direction: column;
        }
    }

    .bridge-form-input-container {
        position: relative;
        width: 100%;
    }

    &-input {
        background-color: $brand-white;
        color: $bridge-textfield-color;
        border: none;
        box-shadow: none;
        font-size: $font-size-large;
        height: 48px;
        padding-left: $spacer / 4;
        padding-right: 80px;
        width: 100%;
        text-align: center;

        &::placeholder {
            color: $brand-grey-light;
            font-weight: $font-weight-bold;
            font-size: $font-size-large;
        }
    }

    &-label {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        color: $bridge-input-label-color;
        font-weight: $font-weight-bold;
        font-size: $font-size-small;
        line-height: 48px;
        padding: 0 $spacer / 2;
        text-transform: uppercase;
        background: $brand-grey-lighter;
    }

    &-button {
        background: $brand-gradient;
        border-radius: 0 0 .2rem .2rem;
        color: $bridge-button-text-color;
        display: block;
        text-transform: uppercase;
        padding: 0 $spacer / 2;
        height: 48px;
        text-decoration: none;
        cursor: pointer;
        width: 100%;

        @media screen and (min-width: $break-point--small) {
            border-radius: 0 .2rem .2rem 0;
        }

        @media (min-width: $break-point--medium) {
            width: auto;
        }
    }

    .bridge-transfer-direction {
        font-size: $font-size-small;
        color: $bridge-label-color;
    }
}

.network-details {
    font-size: $font-size-small;

    .details-logo-container {
        align-items: center;
        display: flex;
        height: 80px;
        justify-content: center;
        width: 85px;
        background: $brand-black;
        border-radius: .2rem;
        margin-bottom: $spacer / 2;
    }

    .details-body {
        min-height: 254px;
        margin-top: $spacer;
    }

    .details-data-container {
        display: flex;
        justify-content: space-between;
        margin: 0;
        border-bottom: 1px solid $brand-grey-lighter;
        padding-top: $spacer / 4;
        padding-bottom: $spacer / 4;

        &:first-child {
            border-top: 1px solid $brand-grey-lighter;
        }

        @media screen and (max-width: $break-point--small) {
            flex-direction: column;
        }
    }

    .details-copy {
        cursor: pointer;
        margin-top: .2rem;
    }

    .details-label {
        font-weight: $font-weight-bold;
        margin-right: $spacer * 2;
    }

    .details-description {
        display: flex;
    }
}

.noWallet-alert {
    .noWallet-buttons {
        column-gap: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;

        @media screen and (max-width: $mobile-width) {
            grid-template-columns: 1fr;
        }

        a,
        button { 
            border-radius: .2rem;
            padding: $spacer / 4;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: $font-weight-bold;
        }

        .noWallet-metamask {
            background-color: $button-background-color-2;
            color: $button-text-color-2;   
        }

        .noWallet-niftyWallet {
            background-color: $button-background-color-4;
            color: $button-text-color-4;
        }

        .noWallet-alphawallet {
            background-color: $button-background-color-3;
            color: $button-text-color-3;
        }

        .noWallet-cancel {
            background-color: $button-bordered-background-color;
            border: 1px solid $button-bordered-border-color;
            color: $button-bordered-text-color;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.disclaimer-alert {
    background-color: $modal-background-color;
    border-radius: 8px;
    padding: $spacer 0;
    max-width: 600px;

    .alert-container {
        padding: $spacer * 2;

        .disclaimer-title {
            color: $modal-title-color;
            font-size: $font-size-h2;
            margin-top: 0;
        }
        .disclaimer-description {
            color: $modal-text-color;
        }
        .disclaimer-tos {
            color: $modal-text-color;
            padding-left: 5px;
        }
        .disclaimer-link {
            color: $modal-link-color;
        }

        .disclaimer-buttons {
            .disclaimer-confirm {
                background-color: $button-background-color;
                border-radius: 3px;
                color: $button-text-color;
                font-size: 15px;
                font-weight: 700;
                height: 40px;
                text-decoration: none;
                min-width: 100px;

                &:hover {
                    background-color: darken($button-background-color, 10%);
                }
            }
            .disclaimer-confirm-disabled {
                background-color: $button-background-color;
                border-radius: 3px;
                color: $button-text-color;
                cursor: default;
                font-size: 15px;
                font-weight: 700;
                height: 40px;
                opacity: 0.5;
                text-decoration: none;
                min-width: 100px;
            }
        }
    }
}

.transfer-alert {
    .transfer-title {
        align-items: center;
        color: $bridge-transfer-title-color;
        display: flex;
        font-size: $font-size-base;
        justify-content: space-between;
        padding-bottom: $spacer * 2;

        path {
            fill: $primary-color;
        }

        .alert-logo-box {
            align-items: center;
            background-color: $alert-logo-box-background-color;
            border-radius: .2rem;
            display: flex;
            width: 85px;
            height: 80px;
            justify-content: center;
            margin-left: $spacer / 2;
            margin-right: $spacer / 2;
            position: relative;
        }
    }

    .transfer-network {
        position: absolute;
        top: 110%;
        left: 0;
        width: 160%;
        font-size: $font-size-small;
        color: $brand-grey-light;
        font-weight: $font-weight-bold;
    }

    .transfer-description {
        color: $modal-text-color;
    }

    .transfer-buttons {
        display: flex;
        justify-content: space-between;
        padding: $spacer / 2 0 0;

        .transfer-confirm {
            background: $brand-gradient;
            border-radius: .2rem;
            color: $button-text-color;
            text-transform: uppercase;
            flex-grow: 1;
            height: 40px;
            max-width: 49%;
            text-decoration: none;
        }

        .transfer-cancel {
            background-color: $button-bordered-background-color;
            border-radius: .2rem;
            border: 1px solid $button-bordered-border-color;
            color: $button-bordered-text-color;
            text-transform: uppercase;
            flex-grow: 1;
            height: 40px;
            max-width: 49%;
            text-decoration: none;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}