@import '../themes/oceanprotocol/variables';
@import '../themes/oceanprotocol/placeholders';

.pageHeader {
    margin: auto;
    margin-bottom: $spacer;
    width: 100%;

    @media (min-width: $break-point--small) {
        max-width: $break-point--small;
    }
}

.pageTitle {
    margin: 0;
    font-size: $font-size-h2;

    @media (min-width: $break-point--small) {
        font-size: $font-size-h1;
    }
}

.pageDescription {
    margin-top: $spacer / 2;

    @media (min-width: $break-point--small) {
        font-size: $font-size-large;
    }
}

.bridge {
    .address-label {
        color: $primary-color;
        font-size: $font-size-small;
    }

    .address-description {
        color: $primary-color;
    }
}

$bridge-background-image: $base-images-path + '/themes/' + $theme-name + '/bridge/arrow-back.svg';
$bridge-background-image-mobile: $base-images-path + '/themes/' + $theme-name + '/bridge/arrow-back-mobile.svg';

.bridge-transfer {
    @extend %box;
    margin-top: $spacer * 2;
    width: 100%;
    background-image: url($bridge-background-image-mobile);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    
    @media (min-width: $break-point--small) {
        padding: $spacer * 3 $spacer $spacer * 2 $spacer;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-gap: $spacer;
        background-image: url($bridge-background-image);
        background-position: 40% center;
        background-size: unset;
    }

    .form-container {
        margin-top: $spacer;
        margin-bottom: $spacer;

        @media (min-width: $break-point--small) {
            margin-right: $spacer;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .network-title {
        font-size: $font-size-h2;
        margin: 0;
    }

    .network-name {
        color: $brand-grey-light;
        font-size: $font-size-large;
        margin-left: $spacer / 4;
    }

    .network-balance {
        color: $bridge-balance-color;
        font-weight: $font-weight-bold;
        white-space: nowrap;
    }

    .network-show-more {
        color: $bridge-link-color;
        font-size: $font-size-small;
        background: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }
}

.bridge-form {
    &-controls {
        @extend %flex-between;
        
        background: $brand-gradient;
        padding: 2px;
        border-radius: .2rem;

        @media screen and (max-width: $break-point--medium) {
            flex-direction: column;
        }
    }

    .bridge-form-input-container {
        position: relative;
        width: 100%;
    }

    &-input {
        background-color: $brand-white;
        color: $bridge-textfield-color;
        border: none;
        box-shadow: none;
        font-size: $font-size-large;
        height: 48px;
        padding-left: $spacer / 4;
        padding-right: 80px;
        width: 100%;
        text-align: center;

        &::placeholder {
            color: $brand-grey-light;
            font-weight: $font-weight-bold;
            font-size: $font-size-large;
        }
    }

    &-label {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        color: $bridge-input-label-color;
        font-weight: $font-weight-bold;
        font-size: $font-size-small;
        line-height: 49px;
        padding: 0 $spacer / 2;
        text-transform: uppercase;
        background: $body-background;
        border-left: 1px solid $brand-grey-lighter;
    }

    &-button {
        @extend %button;
        border-radius: 0 0 .2rem .2rem;
        padding: $spacer / 3 $spacer / 2;
        height: 48px;
        width: 100%;

        @media (min-width: $break-point--small) {
            border-radius: 0 .2rem .2rem 0;
        }

        @media (min-width: $break-point--medium) {
            width: auto;
        }
    }

    .bridge-transfer-direction {
        font-size: $font-size-small;
        color: $bridge-label-color;
    }
}

.network-details {
    font-size: $font-size-small;

    .details-logo-container {
        align-items: center;
        display: flex;
        height: 80px;
        justify-content: center;
        width: 85px;
        background: $brand-black;
        border-radius: .2rem;
        margin-bottom: $spacer / 2;
    }

    .details-body {
        min-height: 254px;
        margin-top: $spacer;
    }

    .details-data-container {
        display: flex;
        justify-content: space-between;
        margin: 0;
        border-bottom: 1px solid $brand-grey-lighter;
        padding-top: $spacer / 4;
        padding-bottom: $spacer / 4;

        &:first-child {
            border-top: 1px solid $brand-grey-lighter;
        }

        @media screen and (max-width: $break-point--small) {
            flex-direction: column;
        }
    }

    .details-copy {
        cursor: pointer;
        margin-top: .2rem;
    }

    .details-label {
        font-weight: $font-weight-bold;
        margin-right: $spacer * 2;
    }

    .details-description {
        display: flex;
    }
}

.noWallet-alert {
    ul {
        margin-bottom: 0;
    }
    
    li {
        font-weight: $font-weight-bold;
    }
}

.noWallet-cancel {
    @extend %buttonTextOnly;
    display: block;
    margin: auto;
}

.disclaimer-tos {
    color: $modal-text-color;
    padding-left: 5px;
}

.disclaimer-link {
    color: $modal-link-color;
}

.disclaimer-buttons {
    padding-top: $spacer / 2;
    text-align: center;
}

.disclaimer-confirm {
    @extend %button;
}

.disclaimer-confirm-disabled {
    @extend %button;
    opacity: .5;
}

.transfer-title {
    align-items: center;
    color: $bridge-transfer-title-color;
    display: flex;
    font-size: $font-size-base;
    justify-content: space-between;
    padding-bottom: $spacer * 2;

    path {
        fill: $primary-color;
    }

    .alert-logo-box {
        align-items: center;
        background-color: $alert-logo-box-background-color;
        border-radius: .2rem;
        display: flex;
        width: 85px;
        height: 80px;
        justify-content: center;
        margin-left: $spacer / 2;
        margin-right: $spacer / 2;
        position: relative;
    }
}

.transfer-network {
    position: absolute;
    top: 110%;
    left: 0;
    width: 160%;
    font-size: $font-size-small;
    color: $brand-grey-light;
    font-weight: $font-weight-bold;
}

.transfer-description {
    color: $modal-text-color;
}

.transfer-buttons {
    display: flex;
    justify-content: center;
    padding: $spacer 0 0;
}

.transfer-confirm {
    @extend %button;
    margin-right: $spacer;
}

.transfer-cancel {
    @extend %buttonTextOnly;
}