@import '../themes/oceanprotocol/variables';

.bridge {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    align-items: center;
    position: relative;
    margin-top: 10vh;

    .address-label {
        color: $primary-color;
        font-size: $font-size-small;
    }

    .address-description {
        color: $primary-color;
    }
    
    .network-details {
        display: flex;
        flex-direction: column;
        min-width: 558px;

        @media screen and (max-width: $tablet-width) {
            min-width: 100%;
        }

        .details-logo-container {
            align-items: center;
            background-color: $modal-background-color;
            border-radius: 10px;
            border-bottom-right-radius: 0;
            display: flex;
            height: 80px;
            justify-content: center;
            width: 85px;

            @media screen and (max-width: $tablet-width) {
                display: none;
            }
        }

        .details-logo-container:after {
            content: "";
            position: absolute;
            height: 10px;
            width: 20px;
            bottom: 0;

            @media screen and (max-width: $tablet-width) {
                display: none;
            }
        }
        .details-logo-container:after {
            border-radius: 0 0 0 10px;
            box-shadow: -10px 0 0 0 #fff;
            right: 453px;
            top: 70px;

            @media screen and (max-width: $tablet-width) {
                display: none;
            }
        }
        .details-body {
            align-self: flex-end;
            background-color: $modal-background-color;
            border-radius: 0 10px 10px 10px;
            display: flex;
            flex-direction: column;
            height: 254px;
            justify-content: space-between;
            padding: 38px;
            width: 440px;

            @media screen and (max-width: $tablet-width) {
                align-self: center;
                border-radius: 10px 10px 10px 10px;
                height: 430px;
                padding: 20px 15px 20px 15px;
                width: 85%;
            }
            @media screen and (max-width: $tablet-width) and (min-width: 415px) {
                height: 300px;
            }
            @media screen and (max-width: 600px) {
                height: 250px;
            }

            .details-data-container {
                display: flex;
                justify-content: space-between;

                @media screen and (max-width: $tablet-width) {
                    flex-direction: column;
                }

                .details-label {
                    color: $modal-text-color;
                    font-size: 14px;
                }
                .details-description {
                    color: $modal-link-color;
                    font-size: 14px;
                }
                .details-description-black {
                    color: $modal-text-color;
                    font-size: 14px;
                    font-weight: 700;
                }
                .details-copy {
                    cursor: pointer;
                }
            }
        }
        .details-body:before {
            content: "";
            position: absolute;
            height: 10px;
            width: 20px;
            bottom: 0;
            @media screen and (max-width: $tablet-width) {
                display: none;
            }
        }
        .details-body:before {
            left: 22px;
            top: 80px;
            border-radius: 0 10px 0 0;
            box-shadow: 10px 0 0 0 #fff;
            @media screen and (max-width: $tablet-width) {
                display: none;
            }
        }
    }
    .transfer-alert {
        background-color: $modal-background-color;
        border-radius: 8px;
        display: flex;
        height: 265px;
        width: 600px;
        @media screen and (max-width: $tablet-width) {
            flex-direction: column;
            height: auto;
            width: 100%;
        }
        .image-container {
            margin-right: 20px;
            width: 166px;

            @media screen and (max-width: $tablet-width) {
                width: 100%;
            }
            .arrows-icon {
                height: 128px;
                margin-left: 42px;
                margin-top: 39px;
                width: 124px;
            }
        }
        .alert-container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-bottom: 40px;
            padding-right: 60px;
            padding-top: 40px;
            width: 374px;

            @media screen and (max-width: $tablet-width) {
                padding-left: 5px;
                padding-top: 0;
                width: 100%;
            }
            .alert-corner {
                height: 12px;
                width: 10px;
            }
            .transfer-title {
                align-items: center;
                color: $bridge-transfer-title-color;
                display: flex;
                font-size: 14px;
                justify-content: space-between;

                path {
                    fill: $primary-color;
                }

                .alert-logo-box {
                    align-items: center;
                    background-color: $alert-logo-box-background-color;
                    border-radius: 4px;
                    display: flex;
                    height: 50px;
                    justify-content: center;
                    width: 50px;
                }
            }
            .transfer-description {
                color: $modal-text-color;
                font-size: 14px;
                line-height: 1.71;
                padding-bottom: 10px;
                padding-top: 10px;
            }
            .transfer-buttons {
                display: flex;
                justify-content: space-between;
                padding: 20px 0 0;

                .transfer-confirm {
                    background-color: $button-background-color;
                    border-radius: 3px;
                    color: $button-text-color;
                    flex-grow: 1;
                    font-size: 15px;
                    font-weight: 700;
                    height: 40px;
                    max-width: 49%;
                    text-decoration: none;

                    &:hover {
                        background-color: darken($button-background-color, 10%);
                    }
                }
                .transfer-cancel {
                    background-color: $button-bordered-background-color;
                    border-radius: 3px;
                    border: solid 1px $button-bordered-border-color;
                    color: $button-bordered-text-color;
                    flex-grow: 1;
                    font-size: 15px;
                    font-weight: 700;
                    height: 40px;
                    max-width: 49%;
                    text-decoration: none;

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}

.bridge-home {
    align-self: center;
    display: flex;
    height: 80px;
    width: 960px;
    background-color: $main-background-color;
    min-width: 60px;
    width: 9%;

    .home-address-container {
        align-items: center;
        background-color: $main-background-color;
        border-bottom-left-radius: 10px;
        display: flex;
        width: 92%;

        .icon-wallet {
            padding: 20px;
        }
    }
}

.bridge-foreign {
    align-self: center;
    display: flex;
    height: 80px;
    width: 960px;

    @media screen and (max-width: $tablet-width) {
        display: none
    }

    .bridge-foreign-container {
        background-color: $main-background-color;
        min-width: 60px;
        width: 9%;
    }

    .foreign-address-container {
        align-items: center;
        background-color: $main-background-color;
        border-top-right-radius: 10px;
        display: flex;
        justify-content: flex-end;
        text-align: right;
        width: 92%;

        .icon-wallet {
            padding: 20px;
        }
    }
}

.bridge-statistics-container {
    align-self: center;
    margin-top: 60px;

    @media screen and (max-height: 720px) {
        margin-top: 30px;
    }
}

.bridge-transfer {
    width: 100%;
    border-radius: .2rem;
    border: 1px solid $brand-grey-lighter;
    background: #fff;
    padding: $spacer * 2 $spacer;
    
    @media (min-width: $break-point--small) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: $spacer;
    }

    .form-container  {
        align-self: center;
    }

    .bridge-network-data {
        align-items: center;
        cursor: pointer;
        display: flex;
    }

    .network-basic-label {
        font-size: $font-size-small;
        color: $bridge-label-color;
    }

    .network-title {
        font-size: $font-size-h3;
        margin-bottom: 0;
    }

    .network-name {
        color: $brand-grey-light;
        font-weight: $font-weight-bold;
    }
    .network-id {
        color: $bridge-label-color;
        font-size: 14px;
        font-weight: 700;
        line-height: 26px;
    }
    .network-id-container {
        background-color: $bridge-link-color;
        border-radius: 3px;
        height: 26px;
        margin-left: 10px;
        text-align: center;
        width: 32px;
    }

    .network-balance {
        color: $bridge-balance-color;
        font-size: 13px;
        font-weight: 700;
    }

    .network-show-more {
        color: $bridge-link-color;
        font-size: $font-size-small;
    }

    .info-icon {
        align-items: center;
        display: flex;
        justify-content: center;
        path {
        fill: $bridge-link-color;
        }
    }
    .info-icon-left {
        margin-right: 10px;
    }
    .info-icon-right {
        margin-left: 10px;
    }
}

.bridge-form {
    &-controls {
        @extend %flex-between;
        
        border-bottom: 1px solid $brand-grey-lighter;
        border-top: 1px solid $brand-grey-lighter;
        padding: $spacer;

        @media screen and (max-width: $tablet-width) {
            flex-direction: column;
        }
    }

    .bridge-form-input-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &-input {
        background-color: transparent;
        color: $bridge-textfield-color;
        border: .2rem solid $brand-pink;
        font-size: $font-size-large;
        height: 48px;
        padding-left: 16px;

        &::placeholder {
            color: $bridge-textfield-placeholder-color;
            font-weight: $font-weight-bold;
            font-size: $font-size-large;
        }

        &::placeholder {
            opacity: 0.3;
        }
    }

    &-label {
        color: $bridge-input-label-color;
        font-weight: $font-weight-bold;
        font-size: $font-size-large;
        line-height: 48px;
        margin: 0 10px;
        text-transform: uppercase;

        @media screen and (max-width: $tablet-width) {
            font-size: 18px;
        }
    }

    &-button {
        background: $brand-gradient;
        border-radius: .2rem;
        color: $bridge-button-text-color;
        display: block;
        text-transform: uppercase;
        padding: 0 $spacer;
        height: 48px;
        text-decoration: none;

        @media screen and (max-width: $tablet-width) {
            border-radius: 0 0 3px 3px;
        }
    }

    .bridge-transfer-direction {
        font-size: $font-size-small;
        color: $bridge-label-color;
    }
}

.noWallet-alert {
    background-color: $modal-background-color;
    border-radius: 10px 8px 8px 10px;
    display: flex;
    height: 380px;
    width: 540px;
    @media screen and (max-width: $small-mobile-width) {
        padding-top: 60px;
    }
    @media screen and (max-width: $tablet-width) {
        flex-direction: column;
        width: 92%;
        height: auto;
        margin-left: 4%;
    }
    .noWallet-image-container {
        background-image: linear-gradient(to right, $gradient-color-2, $gradient-color-1);
        border-radius: 8px 0 0 8px;
        width: 150px;
        @media screen and (max-width: $tablet-width) {
            display: none;
        }
        .noWallet-icon {
            margin-top: 0;
            width: 150px;
        }
    }
    .noWallet-alert-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 24px 30px;
        width: 389px;

        @media screen and (max-width: $tablet-width) {
            align-self: center;
            padding: 10px 0;
            width: 88%;
        }
        .noWallet-title {
            color: $modal-title-color;
            font-size: 24px;
            line-height: 1;

            @media screen and (max-width: $tablet-width) {
                font-size: 30px;
                padding-top: 2%;
                padding-bottom: 2%;
            }
        }

        .noWallet-description {
            color: #666;
            font-size: 14px;
            line-height: 1.71;
            padding-bottom: 10px;
            padding-top: 10px;
            @media screen and (max-width: $tablet-width) {
                padding-left: 1%;
                padding-right: 1%;
            }
        }
    }

    .noWallet-buttons {
        column-gap: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;

        @media screen and (max-width: $mobile-width) {
            grid-template-columns: 1fr;
        }

        .noWallet-metamask {
            background-color: $button-background-color-2;
            border-radius: 3px;
            color: $button-text-color-2;
            line-height: 36px;
            text-align: center;
            text-decoration: none;

            &:hover {
                background-color: darken($button-background-color-2, 10%);
            }
        }
        .noWallet-niftyWallet {
            background-color: $button-background-color-4;
            border-radius: 3px;
            color: $button-text-color-4;
            line-height: 36px;
            text-align: center;
            text-decoration: none;

            &:hover {
                background-color: darken($button-background-color-4, 10%);
            }
        }
        .noWallet-alphawallet {
            background-color: $button-background-color-3;
            border-radius: 3px;
            color: $button-text-color-3;
            line-height: 36px;
            text-align: center;
            text-decoration: none;

            &:hover {
                background-color: darken($button-background-color-3, 10%);
            }
        }
        .noWallet-cancel {
            background-color: $button-bordered-background-color;
            border-radius: 3px;
            border: 1px solid $button-bordered-border-color;
            color: $button-bordered-text-color;
            height: 36px;
            text-decoration: none;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.disclaimer-alert {
    background-color: $modal-background-color;
    border-radius: 8px;
    padding: $spacer 0;
    max-width: 600px;

    .alert-container {
        padding: $spacer * 2;

        .disclaimer-title {
            color: $modal-title-color;
            font-size: $font-size-h2;
            margin-top: 0;
        }
        .disclaimer-description {
            color: $modal-text-color;
        }
        .disclaimer-tos {
            color: $modal-text-color;
            padding-left: 5px;
        }
        .disclaimer-link {
            color: $modal-link-color;
        }

        .disclaimer-buttons {
            .disclaimer-confirm {
                background-color: $button-background-color;
                border-radius: 3px;
                color: $button-text-color;
                font-size: 15px;
                font-weight: 700;
                height: 40px;
                text-decoration: none;
                min-width: 100px;

                &:hover {
                    background-color: darken($button-background-color, 10%);
                }
            }
            .disclaimer-confirm-disabled {
                background-color: $button-background-color;
                border-radius: 3px;
                color: $button-text-color;
                cursor: default;
                font-size: 15px;
                font-weight: 700;
                height: 40px;
                opacity: 0.5;
                text-decoration: none;
                min-width: 100px;
            }
        }
    }
}