@import '../themes/oceanprotocol/variables';

.network-modal {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  .modal {
    background-color: $modal-background-color;
    border-radius: .2rem;
    padding: $spacer * 2;
    margin: $spacer;
    max-width: 640px;
    position: relative;

    .title {
      margin-top: 0;
      margin-bottom: $spacer;
      font-size: $font-size-h2;
      font-weight: $font-weight-bold;
    }

    .description {
      color: $brand-grey;
      font-size: $font-size-small;
      margin-bottom: $spacer;
    }

    .close-button {
      padding: 15px;
      position: absolute;
      right: -40px;
      top: -10px;
      z-index: 400;

      i {
        &.icon {
          &:before {
            content: url("../images/modal/close.svg");
          }
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
