@import '../themes/oceanprotocol/variables';

.network-modal {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 6vh;
    padding-bottom: 6vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.modal {
    background-color: $modal-background-color;
    border-radius: .2rem;
    padding: $spacer / 2;
    margin: $spacer / 2;
    max-width: 640px;
    width: 100%;
    position: relative;
    animation: showSweetAlert .3s ease-out;

    @media screen and (min-width: $break-point--small) {
        padding: $spacer * 2;
    }

    .title {
        color: $modal-title-color;
        margin-top: 0;
        margin-bottom: $spacer;
        font-size: $font-size-h2;
        font-weight: $font-weight-bold;
    }

    .description {
        color: $modal-text-color;
        margin-bottom: $spacer / 2;
    }

    .close-button {
        padding: $spacer / 2;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 400;

        .icon {
            &:before {
                content: url("../images/modal/close.svg");
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
}

@keyframes showSweetAlert {
    0% {
        transform: translate3d(0, 3rem, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
