.statistics-page {
    padding-bottom: $spacer;
}

.statistics-bridge-data,
.statistics-fee-data {
    display: grid;
    grid-gap: $spacer / 2;
    grid-template-columns: 1fr 1fr;

    @media screen and (min-width: $break-point--medium) {
        display: flex;
        justify-content: space-evenly;
    }
}

.statistics-fee-container {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    width: 50%;

    @media screen and (max-width: $tablet-width) {
        width: auto;
        padding-top: 45px;
    }
}

.statistics-transaction-container {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;

    @media screen and (max-width: $tablet-width) {
        flex-direction: column;
        padding-top: 45px;
    }
}

.statistics-deposit-container {
    width: 40%;

    @media screen and (max-width: $tablet-width) {
        margin-bottom: 40px;
        width: auto;
    }
}

.statistics-withdraw-container {
    width: 40%;

    @media screen and (max-width: $tablet-width) {
        width: auto;
    }
}