.sub-title {
    margin-top: 0;
    text-align: center;

    @media screen and (min-width: $break-point--medium) {
        text-align: left;
    }
}

.status-page {
    padding-bottom: $spacer;
}

.status-configuration-data {
    display: grid;
    grid-gap: $spacer / 2;
    grid-template-columns: 1fr 1fr;

    @media screen and (min-width: $break-point--medium) {
        display: flex;
        justify-content: space-evenly;
    }
}

.status-authorities-container {
    margin-top: $spacer * 3;
}

.authority {
    display: flex;
    align-items: center;
    padding-bottom: $spacer;

    code {
        font-size: $font-size-small;
        font-weight: bold;
        padding-left: $spacer / 2;
    }
}

.authority-number {
    color: $brand-grey-light;
    font-size: $font-size-h2;
    padding-right: $spacer / 2;
    margin-right: $spacer / 2;
    text-align: left;
    border-right: 1px solid $brand-grey-lighter;
    min-width: $spacer;
    text-align: right;
}

.authority-logo {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0;
}
