.statistics-page {
    padding-bottom: $spacer;
}

.statistics-bridge-data,
.statistics-fee-data {
    @extend %box;
    @extend %grid__stats;
}

.statistics-bridge-data {
    margin-bottom: $spacer * 2;
}

.statistics-fee-container,
.statistics-transaction-container {
    @media screen and (min-width: $break-point--medium) {
        display: flex;
        justify-content: space-between;
    }
}

.statistics-deposit-container,
.statistics-withdraw-container {
    @media screen and (min-width: $break-point--medium) {
        width: 48%;
    }
}