.daily-quota-modal {
    background-color: $brand-white;
    border-radius: .2rem;
    border: solid 1px $brand-grey-lighter;
    padding: $spacer / 2;
    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.05);
    position: absolute;
    width: 220px;
    z-index: 999;

    &:after {
        border-bottom: 6px solid $brand-grey-lighter;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: none;
        content: " ";
        position: absolute;
        right: 105px;
        top: -6px;
    }
}

.daily-quota-title {
    display: block;
    color: $primary-color;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    margin-top: 0;
}

.daily-quota-description {
    color: $modal-text-color;
    font-size: $font-size-mini;
    margin-bottom: 0;
}