.datablock-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    p {
        margin: 0;
    }

    @media screen and (max-width: $tablet-width) {
      align-items: normal;
      justify-content: flex-start;
    }

    .datablock-value {
      color: $datablock-value-color;
      font-size: $font-size-h2;
      font-weight: bold;
    }

    .datablock-type {
      color: $datablock-type-color;
      font-size: $font-size-large;
      margin-left: $spacer / 2;
    }

    .datablock-description {
      color: $datablock-text-color;
      font-size: $font-size-small;
      font-weight: $font-weight-bold;
      margin-top: $spacer / 4;
    }
  }