.datablock-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $break-point--medium) {
        justify-content: space-evenly;
    }
    
    p {
        margin: 0;
    }
}

.datablock-value {
    color: $datablock-value-color;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;

    @media screen and (min-width: $break-point--small) {
        font-size: $font-size-h2;
    }
}

.datablock-type {
    color: $datablock-type-color;
    margin-left: $spacer / 6;

    @media screen and (min-width: $break-point--small) {
        font-size: $font-size-large;
    }
}

.datablock-description {
    color: $datablock-text-color;
    font-size: $font-size-mini;
    font-weight: $font-weight-bold;
    margin-top: $spacer / 2;

    @media screen and (min-width: $break-point--small) {
        font-size: $font-size-small;
    }
}