.header-wallet {
    border-left: 1px solid $primary-color-dark;
    width: 220px;
}

.wallet-container {
    display: flex;
    padding-left: 20px;

    .wallet-icon {
        margin-right: 10px;

        path {
            fill: $brand-grey-light;
        }
    }

    .wallet-text {
        color: #fff;
        font-size: $font-size-small;
        font-weight: bold;
        
        &:hover {
            text-decoration: none;
        }
    }

    .wallet-link {
        cursor: pointer;
    }
}

.daily-quota-container {
    background-color: $daily-quota-background;
    border-radius: 3px;
    height: 6px;
    margin-left: 20px;
    margin-bottom: -6px;
    margin-top: 3px;
    width: 180px;

    .daily-quota-progress {
        background-color: $daily-quota-progress;
        border-radius: 3px;
        height: 6px;
    }
}