.header-wallet {
    border-left: 1px solid $primary-color-dark;
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: space-evenly;
    width: 220px;

    @media screen and (max-width: $tablet-width) {
        display: none;
    }

    .wallet-container {
        display: flex;
        padding-left: 20px;

        .wallet-icon {
            margin-right: 10px;
             path {
                fill: $brand-grey-light;
            }
        }
        .wallet-text {
            color: #fff;
            font-size: $font-size-small;
            font-weight: bold;
            
            &:hover {
                text-decoration: none;
            }
        }
        .wallet-link {
            cursor: pointer;
        }
        .wallet-text-metamask {
            color: $header-menu-icon-color;
        }
    }

    .daily-quota-container {
        background-color: $daily-quota-background;
        border-radius: 3px;
        height: 6px;
        margin-left: 20px;
        width: 180px;

        .daily-quota-progress {
            background-color: $daily-quota-progress;
            border-radius: 3px;
            height: 6px;
        }
    }
}