.header-wallet {
    border-left: 1px solid $brand-grey;
    width: 220px;
    padding-top: $spacer / 2;
    padding-bottom: $spacer / 2;
    padding-left: $spacer;
}

.wallet-container {
    &,
    code {
        color: rgba($header-menu-text-color, .7);
        font-size: $font-size-small;
        font-weight: bold;
    }

    svg {
        display: inline-block;
        margin-right: $spacer / 4;
        margin-bottom: -.15rem;
        fill: $brand-grey-light;
    }
}

.wallet-link {
    &:hover,
    &:focus {
        code {
            color: $header-menu-text-color;
        }
    }
}

.daily-quota-container {
    background-color: $daily-quota-background;
    border-radius: 3px;
    height: 6px;
    margin-bottom: -6px;
    margin-top: $spacer / 8;
    width: 180px;

    .daily-quota-progress {
        background-color: $daily-quota-progress;
        border-radius: 3px;
        height: 6px;
    }
}