.header-menu {
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
    display: none;

    @media screen and (min-width: $break-point--medium) {
        display: flex;
    }

    @media screen and (min-width: $break-point--large) {
        justify-content: flex-end;
        width: auto;
    }
}