.menu-item {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    font-size: $font-size-small;
    margin: 0 $spacer;
    text-decoration: none;
    color: rgba($header-menu-text-color, .7);
    white-space: nowrap;

    &:hover,
    &:focus,
    &.active {
        text-decoration: none;
        color: $header-menu-text-color;
        transform: none;

        svg {
            fill: $header-menu-text-color;
        }
    }

    svg {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: -.2rem;
        fill: $brand-grey-light;
        transition: .2s ease-out;
    }
}
