.menu-items {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    font-size: $font-size-small;
    margin: 0 $spacer;
    text-decoration: none;

    @media screen and (max-width: $mobile-width) {
        margin-left: 0;
    }

    &:hover {
        text-decoration: none;
    }
}

.menu-items-text {
    color: $header-menu-text-color;
    margin-left: 10px;
}

.menu-items-icon {
    display: inline-block;
    margin-bottom: -.2rem;

    path {
        fill: $brand-grey-light;
    }
}