.mobile-menu {
    background-color: $mobile-menu-background-color;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: $spacer / 2;
    border-bottom: 1px solid $brand-grey;

    .menu-item {
        display: block;
        padding: $spacer / 2;
    }
}